*.org
*.bak
*~
Cover.bs
Cover.c
Cover.o
Makefile
Makefile.old
blib/
cover_db*/
t/e2e/
lib/Devel/Cover/Inc.pm
pm_to_blib
*.out
*.tar.bz2
*.tar.gz
*.patch
*.orig
*.rej
tmp/
MYMETA.*
Cover.def
dll.base
dll.exp
Devel-Cover-*
tags*
README
.build/
callgrind.out.*
staging/
*.sw?
