*.org
*.bak
*.sw?
*.tdy
*~
._*
.DS_Store
tmp/
llm/

tags*
.perl-version
Cover.bs
Cover.c
Cover.o
Makefile
Makefile.old
blib/
.build/
README
cover_db*/
t/e2e/
lib/Devel/Cover/Inc.pm
pm_to_blib
*.out
*.tar.bz2
*.tar.gz
*.patch
*.orig
*.rej
MYMETA.*
Cover.def
dll.base
dll.exp
Devel-Cover-*
!*/Devel-Cover-*
callgrind.out.*
staging/
queue.db
