language: perl
perl:
    - "5.6.2"
    - "5.8"
    - "5.10"
    - "5.12"
    - "5.14"
    - "5.16"
    - "5.18"
    - "5.20"
    - "5.22"
    - "5.22-thr"
    - "dev"
    - "blead"
notifications:
    email:
        on_success: always
        on_failure: always
matrix:
    allow_failures:
        - perl: blead
sudo: false
before_install:
    - eval $(curl https://travis-perl.github.io/init) --auto
