---
extends: default

rules:
  braces: { min-spaces-inside: 1, max-spaces-inside: 1 }
  brackets: { min-spaces-inside: 1, max-spaces-inside: 1 }
  comments:
    level: error
  comments-indentation: disable
  document-start:
    level: error
  truthy:
    level: error
